<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>members board</title>
</head>
<body>
    <header>
    <h1>Welcome to the member board</h1>
    <h2>Member messages will be displayed here!</h2>
    </header>
    <div class="sidebar">
        <div class="log">
            <% if (locals.user) { %>
                <h1>Welcome Back <br><%= user.name %> <%=user.surname %>!</h1>
                <a href="/log-out">Log Out</a>
            <%  } else {  %>
                <h1>Log in!</h1>
                <form action="/log-in" method="POST">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="email" />
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                    <button>Log In</button>
                </form>
                <a href="/sign-up">Create an account</a>
            <%  }  %>
        </div>
        
    </div>
    <main>
        <div class="message-board">
            <%if (locals.messages) { %>
                <% messages.forEach(function(message){console.log(message.date) %>
                    <%if(locals.user && locals.user.membership===true){%>
                        <ul class="message-box">
                            <li>
                                <h3 class="message-user">By: <%=message.by_user%> <%=parsedDate%></h3>
                                <div class="message"><p><%=message.body%></p></div>
                            </li>
                        </ul>    
                    <%}else{%>
                    <ul class="message-box">
                        <li>
                            <h3 class="message-user">by Anonymous</h3>
                            <h5><%=parsedDate%></h5>
                            <div class="message"><p><%=message.body%></p></div>
                        </li>
                    </ul>
                    <%}%>
                <%})}else{%>
                    <h2>Seems like this is empty...</h2>
                <%}%>
        </div>
        <%if (locals.user) {%>
            <div class="links">
                <a href="/new-message-form" class="new-message-button">Leave a new message :)</a>
                <button class="join-button">Join the club</button>
                <div id="overlay"></div>
                <%if(locals.failedAttempt === true){%>
                    <div class="join-club-div">
                        <form action="./secret-code" method="POST">
                            <label for="code">Insert the secret code</label>
                            <input type="text" name="code" id="code">
                            <input type="hidden" name="email" value="<%=user.email%>">
                            <button id="submitCode">Submit</button>
                            <button id="close-club-form"><a href="/"></a>Go Back</button>
                            <h4>Wrong code, try again.</h4>
                        </form>
                    </div>
                <%}%>
                <div class="join-club-div">
                    <form action="./secret-code" method="POST">
                        <label for="code">Insert the secret code</label>
                        <input type="text" name="code" id="code">
                        <input type="hidden" name="email" value="<%=user.email%>">
                        <button id="submitCode">Submit</button>
                        <button id="close-club-form">Go Back</button>
                    </form>
                </div>
            </div>
        <%}%>
    </main>
</body>
</html>
<script>
    const button = document.querySelector('.join-button');
    const joinClubDiv = document.querySelector('.join-club-div');
    const closeButton = document.getElementById("close-club-form");
    button.addEventListener('click', () => {
            joinClubDiv.setAttribute('pressed', true);
            overlay.style.visibility = 'visible'; 
    })
    closeButton.addEventListener('click', () => {
            joinClubDiv.removeAttribute('pressed');
            overlay.style.visibility = 'hidden'
    })
</script>